{% extends "news/base.html" %}
{% load news_extras %}

{% block title %}{{ article.title }} - Django News Portal{% endblock %}

{% block content %}
    <article>

        <h2>{{ article.title }}</h2>
        
        <div class="article-meta">
            <span>By <a href="{{ article.reporter.get_absolute_url }}">{{ article.reporter }}</a></span>
            <span>in <a href="{{ article.category.get_absolute_url }}">{{ article.category }}</a></span>
            <span>on {{ article.published_date|date:"F j, Y" }}</span>
            
            {% if article.updated_date != article.published_date %}
                <span>(Updated: {{ article.updated_date|date:"F j, Y H:i" }})</span>
            {% endif %}
        </div>

        <div class="reading-time">
            {{ article.content|reading_time }}
        </div>
        
        {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.title }}" 
                 style="max-width: 100%; margin: 1rem 0;">
        {% endif %}
        
        <div class="article-content">
            {{ article.content|linebreaks }}
        </div>
        
        <div class="article-tags">
            <h4>Tags:</h4>
            {% for tag in article.tags.all %}
                <a href="{{ tag.get_absolute_url }}" style="margin-right: 5px;">#{{ tag.name }}</a>
            {% empty %}
                <span>No tags for this article</span>
            {% endfor %}
        </div>
    </article>
    
    <div class="related-articles">
        <h3>More from {{ article.category }}</h3>
        <ul>
            {% for related in related_articles %}
                <li><a href="{{ related.get_absolute_url }}">{{ related.title }}</a></li>
            {% empty %}
                <li>No related articles found</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}